SR03-TestClientCategorie/.classpath
SR03-TestClientCategorie/.project
SR03-TestClientCategorie/.settings
SR03-WebServiceServer/.classpath
SR03-WebServiceServer/.project
SR03-WebServiceServer/.settings/
