body {
    margin-top: 12px;
}



.image-bg-fluid-height,
.image-bg-fixed-height {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.creneau {
    height: 12px;
}
.jour {
    border: #9d9d9d solid 1px;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}
.jour_titre {
    height: 50px;
    background-color: #eee;
    text-align: center;
    padding-top: 15px;
    border-bottom: #9d9d9d 1px solid;
}
.uv-title {
    width: 100%;
    height: 6px;
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 2px;
    height: 20px;
    padding-right: 6px;
}
.uv-salle {
    width: 100%;
    height: 6px;
    text-align: center;
    position: relative;
    z-index: 2;
    padding-right: 6px;
}
.heure {
    height: 12px;
}
.jour .uv {
    height: 12px;
    overflow: visible;
    display: inline-block;
    border-left: #9d9d9d solid 1px;
    border-right: #9d9d9d solid 1px;
}

.jour .uv-empty {
    height: 12px;
    overflow: visible;
    display: inline-block;
}

.jour .course-begin {
    border-top: #9d9d9d solid 1px;
}

.jour .course-end {
    border-bottom: #9d9d9d solid 1px;
}

.studentlogins {
    border-bottom: #9d9d9d solid 1px;
    text-align: center;
    background-color: #D8D6DD;
}

.image-bg-fluid-height {
	background: url('https://www.utc.fr/cru-1455812804/typo3conf/ext/site/Resources/Public/Frontend/vendor/html/images/visuel-twitter.jpg') no-repeat center center scroll;
    padding: 50px 0;
    background-position-y: 0;
}

.image-bg-fixed-height {
	background: url('http://lorempixel.com/g/1920/500/') no-repeat center center scroll;
    height: 450px;
}

.img-center {
	margin: 0 auto;
}

section {
    padding: 75px 0;
}

.section-heading {
    margin: 30px 0;
    font-size: 4em;
}

.section-lead {
    margin: 30px 0;
}

.section-paragraph {
    margin: 30px 0;
}

footer {
    margin: 50px 0;
    background-color: #222;
    color: #9d9d9d;
}

@media(max-width:768px) {
    section {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .section-heading {
        font-size: 2em;
    }
}